# Исследование надежности заемщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Импорт-данных-и-изучение-общей-информации" data-toc-modified-id="Импорт-данных-и-изучение-общей-информации-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Импорт данных и изучение общей информации</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Удаление-пропусков-(продолжение)" data-toc-modified-id="Удаление-пропусков-(продолжение)-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Удаление пропусков (продолжение)</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#Исследование-данных" data-toc-modified-id="Исследование-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследование данных</a></span><ul class="toc-item"><li><span><a href="#Наличие-зависимости-между-количеством-детей-и-возвратом-кредита-в-срок" data-toc-modified-id="Наличие-зависимости-между-количеством-детей-и-возвратом-кредита-в-срок-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Наличие зависимости между количеством детей и возвратом кредита в срок</a></span></li><li><span><a href="#Наличие-зависимости-между-семейным-положением-и-возвратом-кредита-в-срок" data-toc-modified-id="Наличие-зависимости-между-семейным-положением-и-возвратом-кредита-в-срок-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Наличие зависимости между семейным положением и возвратом кредита в срок</a></span></li><li><span><a href="#Наличие-зависимости-между-уровнем-дохода-и-возвратом-кредита-в-срок" data-toc-modified-id="Наличие-зависимости-между-уровнем-дохода-и-возвратом-кредита-в-срок-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Наличие зависимости между уровнем дохода и возвратом кредита в срок</a></span></li><li><span><a href="#Влияние-разных-целей-кредита-на-его-возврат-в-срок" data-toc-modified-id="Влияние-разных-целей-кредита-на-его-возврат-в-срок-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Влияние разных целей кредита на его возврат в срок</a></span></li></ul></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Общий вывод</a></span></li></ul></div>

## Импорт данных и изучение общей информации

In [1]:
import pandas as pd

In [2]:
try:
    data = pd.read_csv('D:\Учеба\Аналитик данных\Проект 2 Заемщики\data.csv')
except:
    data = pd.read_csv('/datasets/data.csv')

In [3]:
# Выведем первые 20 строчек датафрейма
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
# Отобразим основную информацию о датафрейме
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [5]:
# Отобразим количество пропущенных значений для каждого столбца
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [6]:
# Заполним пропуски в столбце total_income медианным значением по каждому типу из столбца income_type
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

In [7]:
# Скорректируем отрицательное количество дней трудового стажа в столбце days_employed
data['days_employed'] = data['days_employed'].abs()

In [8]:
# Для каждого типа занятости выведем медианное значение трудового стажа
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) отмечаются аномально большие значения.

In [9]:
# Выведем перечень уникальных значений столбца children
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [10]:
# Удалим аномалии
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [11]:
# Проверка
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

In [12]:
# Заполним пропуски в столбце days_employed медианными значениями по каждому типу занятости income_type
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [13]:
# Проверка пропусков
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [14]:
# Заменим вещественный тип данных в столбце total_income на целочисленный
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [15]:
# Обработка неявных дубликатов в столбце education
data['education'] = data['education'].str.lower()

In [16]:
# Отобразим количество строк-дубликатов в данных
data.duplicated().sum()

71

In [17]:
# Удалим такие строки
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов ниже создаем в датафрейме столбец total_income_category с категориями:

- 0–30000 — 'E';
- 30001–50000 — 'D';
- 50001–200000 — 'C';
- 200001–1000000 — 'B';
- 1000001 и выше — 'A'

In [18]:
# Создадим функцию для категоризации
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
# Применим функцию к столбцу
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [20]:
# Отобразим перечень уникальных целей взятия кредита из столбца purpose
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца purpose сформирует новый столбец purpose_category с категориями:

- операции с автомобилем,
- операции с недвижимостью,
- проведение свадьбы,
- получение образования.

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследование данных

### Наличие зависимости между количеством детей и возвратом кредита в срок

In [23]:
# Изучим возможные варианты и их количество в столбце children
data['children'].value_counts()

0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

В датасете представлены данные о заемщиках с количеством детей от 0 до 5, причем наблюдается явная тенденция: уменьшение количества заемщиков с увеличением у них количества детей.

In [24]:
# Создаем сводную таблицу с необходимыми данными: строки - количество детей, столбцы - количество заемщиков,
# количество должников, доля должников
grouped_by_children = data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count','sum','mean'])

# Присваиваем логичные названия столбцам
grouped_by_children.columns = ['count_of_borrower', 'sum_of_debtors', 'ratio_of_debtors']

# Вывод сводной таблицы с сортировкой отношения должников от меньшего к большему
grouped_by_children.sort_values(by = 'ratio_of_debtors')

          count_of_borrower  sum_of_debtors  ratio_of_debtors
children
5                         9               0          0.000000
0                     14091            1063          0.075438
3                       330              27          0.081818
1                      4808             444          0.092346
2                      2052             194          0.094542
4                        41               4          0.097561

<b>Вывод:</b> <br/>
Прежде всего выделяется группа заемщиков с большим количеством детей - однако данная категория слишком мала, чтобы делать однозначные выводы о наличии статистической зависимости о надежности таких клиентов. <br/>
Явной зависимости между количеством детей и надежностью заемщика не наблюдается, однако выделяется тенденция повышенного количества должников в категории с детьми, в сравнении с категорией заемщиков без детей. Наиболее многочисленная категория заемщиков (без детей) имеет наилучший показатель по возвращению кредита в срок.

### Наличие зависимости между семейным положением и возвратом кредита в срок

In [25]:
# Изучим возможные варианты и их количество в столбце family_status
data['family_status'].value_counts()

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

В датасете представлены данные по 5 группам семейного положения.

In [26]:
# Создаем сводную таблицу с необходимыми данными: строки - семейный статус, столбцы - количество заемщиков,
# количество должников, доля должников
grouped_by_family = data.pivot_table(index = 'family_status', values = 'debt', aggfunc = ['count', 'sum', 'mean'])

# Присваиваем логичные названия столбцам
grouped_by_family.columns = ['count_of_borrower', 'sum_of_debtors', 'ratio_of_debtors']

# Вывод сводной таблицы с сортировкой отношения должников от меньшего к большему
grouped_by_family.sort_values(by = 'ratio_of_debtors')

                       count_of_borrower  sum_of_debtors  ratio_of_debtors
family_status
вдовец / вдова                       951              63          0.066246
в разводе                           1189              84          0.070648
женат / замужем                    12261             927          0.075606
гражданский брак                    4134             385          0.093130
Не женат / не замужем               2796             273          0.097639

<b>Вывод:</b> <br/>
Между семейным положением и возвратом кредита в срок наблюдается зависимость: наиболее надежные заемщики относятся к категории "вдовец / вдова", а нибольшее количество должников по кредиту относится к группам "не женат / не замужем" и "гражданский брак".<br/> Обе категории схожи: данные заемщики не связаны и не были связаны семейными узами на законодательном уровне.

### Наличие зависимости между уровнем дохода и возвратом кредита в срок

Ранее мы категоризировали уровень дохода заемщиков и создали новый столбец в датафрейме - 'total_income_category'. Для проверки гипотезы о наличии зависимости между уровнем дохода и возвратом кредита в срок воспользуемся данными категориями.

In [27]:
# Создаем сводную таблицу с необходимыми данными: строки - доход заемщика, столбцы - количество заемщиков,
# количество должников, доля должников
grouped_by_income = data.pivot_table(index = 'total_income_category', values = 'debt', aggfunc = ['count', 'sum', 'mean'])

# Присваиваем логичные названия столбцам
grouped_by_income.columns = ['count_of_borrower', 'sum_of_debtors', 'ratio_of_debtors']

# Вывод сводной таблицы с сортировкой отношения должников от меньшего к большему
grouped_by_income.sort_values(by = 'ratio_of_debtors')

                       count_of_borrower  sum_of_debtors  ratio_of_debtors
total_income_category
D                                    349              21          0.060172
B                                   5014             354          0.070602
A                                     25               2          0.080000
C                                  15921            1353          0.084982
E                                     22               2          0.090909

**Вывод:** В данном случае нельзя однозначно утверждать о наличии зависимости между уровнем дохода и возвратом кредита в срок: категории дохода и процент должников распределены не упорядоченно. Однако можно выделить логичную закономерность - наибольшее количество должников по кредиту относится к категории с наименьшим уровнем дохода - "Е".

### Влияние разных целей кредита на его возврат в срок

По аналогии с шагом 3.3 воспользуемся ранее созданным столбцом 'purpose_category' для распределения целей на 4 группы

In [28]:
# сгруппируем необходимые данные:доход заемщика, количество заемщиков, количество должников, доля должников
grouped_by_purpose = data.groupby('purpose_category')['debt'].agg(['count', 'sum', 'mean'])

# Присваиваем логичные названия столбцам
grouped_by_purpose.columns = ['count_of_borrower', 'sum_of_debtors', 'ratio_of_debtors']

# Вывод таблицы с сортировкой отношения должников от меньшего к большему
grouped_by_purpose.sort_values(by = 'ratio_of_debtors')

                          count_of_borrower  sum_of_debtors  ratio_of_debtors
purpose_category
операции с недвижимостью              10751             780          0.072551
проведение свадьбы                     2313             183          0.079118
получение образования                  3988             369          0.092528
операции с автомобилем                 4279             400          0.093480

**Вывод:** Наболее надежные заемщики брали кредит на "операции с недвижимостью", в то время как больше всего нарушений сроков кредитования наблюдается в двух категориях - "получение образования" и "операции с автомобилем".

## Общий вывод

<b>Вывод:</b> <br/>
Основной целью исследования была проверка влияния тех или иных факторов на возможность заемщика вернуть кредит в установленный срок. Итоговое резюме:<br/>
<b>1. Количество детей у заемщика:</b> фактически можно разделить заемщиков на две категории - с детьми и без детей. В случае, если у заемщика есть хоть один ребенок, то надежность такого кандидата снижается, в сравнении с бездетной категорией.<br/>
<b>2. Семейный статус заемщика:</b> наиболее надежные кандидаты относятся к категории "вдовец / вдова". А наиболее рискованные заемщики относятся к категориям "не женат / не замужем" и "гражданский брак": данные заемщики не связаны и не были связаны семейными узами на законодательном уровне.<br/>
<b>3. Доход заемщика:</b> Наименее надежные заемщики относятся к категории с наименьшим уровнем дохода - менее 30000. В других категориях, с более высоким уровнем дохода, явной зависимости уровня дохода с возможностью вернуть заемные деньги в срок <b>не вывлено.</b><br/>
<b>4. Цель кредитования:</b> Наболее надежные заемщики относятся к категориям, которые брали кредит на "операции с недвижимостью". Больше всего должников наблюдается в категориях - "получение образования" и "операции с автомобилем".